# Ignore all .env files
**/.env

# Ignore all pycache folder content
**__pycache__/

**downloads/
**extracted/
**output/

# ignore csv, pickle and zip files
**.csv
**.pickle
**.zip

**.pem
digital_ocean/*

scrapy_engine/scrapy_engine/spiders/mongo.py
**.pickle
**.zip
server_old/*
todo-scrapy/*

server/output/*
server/extracted/*
server/downloads/*

servers/urls/the_plan.ipynb