.env
scrapy_engine/spiders/sec_spider.py
scrapy_engine/spiders/docs_spider.py
scrapy_v2/.env
scrapy_engine/spiders/.env
server/crawled_data.csv
server/other_data.csv
server/urls.db
server/shub_automation/*
server/__pycache__/*
scrapy_engine/__pycache__/*
server/error_data.csv
test/*

zyte/scrapy_engine/scrapy_engine/spiders/.env
zyte/scrapy_engine/scrapy_engine/spiders/mongo.py
zyte/.env